<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ikey" value="DIXTYQTLX70TBORQ59FU" />
    <add key="skey" value="iEL8vOV58hNouU32itNBYPdT59rWw0DwuPzl3RSL" />
    <add key="akey" value="13987d81f8034970fe826fd285c17c04917e888c" />
    <add key="host" value="api-8f993bdc.duosecurity.com" />
    <add key="port" value="8080" />
  </appSettings>
</configuration>